<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.lin.dao.UserMysqlDaoImpl" id="mysqlDaoImpl"/>
    <bean class="com.lin.dao.UserDaoImpl" id="userDaoImpl"/>

    <bean class="com.lin.service.UserServiceImpl" id="userServiceImplOfMysqlDao">
        <!--ref：引用Spring已经创建好的对象
            value：基本数据类型
        -->
        <property name="userDao" ref="mysqlDaoImpl"/>
    </bean>

    <bean class="com.lin.service.UserServiceImpl" id="userServiceImplOfUserDao">
        <property name="userDao" ref="userDaoImpl"/>
    </bean>
</beans>